.recommended-friends {
    margin: 15px 0;
    padding: 15px 0;
    border-top: var(--main-border);
    border-bottom: var(--main-border);
}
.recommended-friends__title {
    font-size: 14px;
    font-weight: 600;
    color: var(--gray-text);
}
.recommended-friends span {
    margin: 100px 0px;
    display: block;
    text-align: center;
    font-size: 18px;
    color: var(--gray-text);
}

.open-chat__header {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 600;
    color: var(--gray-text);
    margin-bottom: 25px;
}
.open-chat__header span {
    font-size: 14px;
    opacity: 0.6;
}

.open-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.open-post_title {
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 7px;
}
.open-post__hashtags {
    text-decoration: uppercase;
    color: var(--gray-text);
    font-weight: 600;
    font-size: 15px;
}
.open-post__members {
    margin-top: 7px;
    display: flex;
    align-items: center;
}
.open-post__members img {
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
}
.open-post__member-count {
    color: var(--gray-text);
    font-size: 14px;
}

.open-post__members .divider {
    width: 2px;
    height: 15px;
    margin: 0 5px;
    background-color: rgba(0, 0, 0, 0.2);
}
.open-post__member-status {
    color: #ff4eb8;
}
.open-post__photo img {
    width: 110px;
    height: 110px;
    border-radius: 10px;
}
.open-post__photo {
    position: relative;
}
.open-post__like {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 14px;
}
.open-post__like span {
    margin-left: 5px;
}

.open-post__like i {
    will-change: transform;
    animation: heartBeat 0.5s linear infinite;
}
