.screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 20px 15px 20px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.screen-header__title {
    font-size: 30px;
    font-weight: 600;
}
.screen-header__icons span {
    margin-left: 15px;
    position: relative;
}

@keyframes rotateCog {
    from {
        transform: none;
    }
    to {
        transform: rotateZ(360deg);
    }
}

.fa-cog:hover {
    will-change: transform;
    animation: rotateCog 1s linear infinite;
}
.fa-headphones-alt:hover {
    will-change: transform;
    animation: heartBeat 1s linear infinite;
}
