.user-component {
    justify-content: space-between;
}
.user-component,
.user-component__column:first-child {
    display: flex;
    align-items: center;
}
.user-component__avatar {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 25px;
    margin-right: 15px;
}
.user-component__title {
    font-weight: 600;
    font-size: 17px;
}
.user-component__subtitle {
    margin-top: 5px;
    font-size: 17px;
    opacity: 0.5;
}
.user-component__avatar--xl {
    width: 70px;
    height: 70px;
}
.user-component__avatar--sm {
    width: 50px;
    height: 50px;
    border-radius: 20px;
}
.user-component__title--not-bold {
    font-weight: 500;
}
.user-component__column:last-child {
    color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.user-component__column img {
    border: 1px solid rgba(0, 0, 0, 0.2);
}

/* 즐겨찾기(Favorites) */
.user-component--favorite {
    justify-content: initial;
}
.user-component__column--favorite {
    display: block;
    font-size: 19px;
    margin-left: 5px;
}
.user-component__time {
    display: block;
    margin-bottom: 5px;
}
